body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #ffffff;
  padding: 20px 10px;
  border-right: 1px solid #e0e0e0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  color: #000000;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 500;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 15px;
  color: #000000;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  transition: all 0.3s ease;
}

.sidebar li i {
  margin-right: 10px;
  font-size: 16px;
  color: #757575;
}

.sidebar li:hover {
  background-color: #e0f7fa; /* Màu nhẹ khi hover, bạn có thể thay bằng màu khác */
  color: #000000;
}

.sidebar li:hover i {
  color: #000000;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f9f9f9;
}
